@import "@fontsource/jetbrains-mono/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 15% 93%; /* Gruvbox light background */
    --foreground: 40 30% 12%; /* Gruvbox dark foreground */

    --card: 40 15% 93%;
    --card-foreground: 40 30% 12%;

    --popover: 40 15% 93%;
    --popover-foreground: 40 30% 12%;

    --primary: 40 100% 47%; /* Gruvbox yellow */
    --primary-foreground: 40 15% 93%; /* Gruvbox light background */

    --secondary: 29 66% 44%; /* Gruvbox orange */
    --secondary-foreground: 40 30% 12%; /* Gruvbox dark foreground */

    --muted: 40 30% 85%; /* Gruvbox light gray */
    --muted-foreground: 40 30% 35%; /* Gruvbox dark gray */

    --accent: 140 55% 45%; /* Gruvbox green */
    --accent-foreground: 40 15% 93%; /* Gruvbox light background */

    --destructive: 0 60% 45%; /* Gruvbox red */
    --destructive-foreground: 40 15% 93%; /* Gruvbox light background */

    --border: 40 30% 75%; /* Gruvbox light gray */
    --input: 40 30% 75%; /* Gruvbox light gray */
    --ring: 40 30% 35%; /* Gruvbox dark gray */

    --radius: 0.5rem;
  }

  .dark {
    --background: 40 15% 12%; /* Gruvbox dark background */
    --foreground: 40 30% 85%; /* Gruvbox light foreground */

    --card: 40 15% 12%;
    --card-foreground: 40 30% 85%;

    --popover: 40 15% 12%;
    --popover-foreground: 40 30% 85%;

    --primary: 40 100% 47%; /* Gruvbox yellow */
    --primary-foreground: 40 15% 12%; /* Gruvbox dark background */

    --secondary: 29 66% 44%; /* Gruvbox orange */
    --secondary-foreground: 40 15% 12%; /* Gruvbox dark background */

    --muted: 40 15% 25%; /* Gruvbox dark gray */
    --muted-foreground: 40 30% 75%; /* Gruvbox light gray */

    --accent: 140 55% 35%; /* Gruvbox green */
    --accent-foreground: 40 15% 12%; /* Gruvbox dark background */

    --destructive: 0 60% 45%; /* Gruvbox red */
    --destructive-foreground: 40 15% 12%; /* Gruvbox dark background */

    --border: 40 15% 25%; /* Gruvbox dark gray */
    --input: 40 15% 25%; /* Gruvbox dark gray */
    --ring: 40 30% 35%; /* Gruvbox light gray */
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "JetBrains Mono", monospace; /* Apply JetBrains Mono to all elements */
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  transition-property: opacity, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}

.page-transition {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(20px);
}
